.main-container
  aside.sidebar
    h3 Основные параметры
    label.checkbox-item
      input#omitBodyTag(type='checkbox', checked)
      |       Не публиковать body в результате
    label.checkbox-item
      input#cleanHTML(type='checkbox')
      |       Очистить HTML и извлечь стили
    label.checkbox-item
      input#replaceCenterTags(type='checkbox')
      |       Заменить тег center на div.content-center"
    label.checkbox-item
      input#removeEmptyTags(type='checkbox')
      |       Удалить пустые теги
    label.checkbox-item
      input#groupStyles(type='checkbox')
      |       Группировать CSS-стили с одинаковыми правилами

  section.content
    h1 HTML Cleaner & Style Extractor
    textarea#inputHTML(required placeholder='Вставьте ваш код здесь...')
    .button-wrapper
      button#processButton Обработать
      button#clearButton Очистить
    #cleanedHTMLContainer.output-container
      h2 Очищенный HTML
      pre#cleanedHTML
      button.copy-btn(data-copy-target='cleanedHTML') Копировать
    #extractedStylesContainer.output-container
      h2 Извлечённые стили
      pre#extractedStyles
      button.copy-btn(data-copy-target='extractedStyles') Копировать
